# Loading the Wildfire Dataset
This notebook has been built to showcase a way to open and manage the Wildfire Dataset found [here](https://www.kaggle.com/datasets/behroozsohrabi/us-wildfire-records-6th-edition?resource=download) from Kaggle. You may need an acccount to acccess and download the data. Try to download it and save it to a suitable location.

The original source of the data is:

*Short, Karen C. 2022. Spatial wildfire occurrence data for the United States, 1992-2020 [FPA_FOD_20221014]. 6th Edition. Fort Collins, CO: Forest Service Research Data Archive. https://doi.org/10.2737/RDS-2013-0009.6*

You may wish to study the above source to gain some insight to the data, for example, there's cxomments on the quality anf decisions made to produce such a set [here](https://www.fs.usda.gov/rds/archive/products/RDS-2013-0009.6/_metadata_RDS-2013-0009.6.html). 

You are welcome to use any of the code showcased below for your work. It may be that you need to tweak this process in your own work, and that's fine! Use it as you see fit. Remember to cite the owner of the dataset, Karen Short, in your thesis.

### Import Modules

We're going to start by importing necssarry modules for this example. I'm using some custom classes and utilities that are located in the `resources` folder of this repo. I've tried to make sure that this code will work on many machines, but you may run into some issues. Feel free to reach out if you have any!

In [1]:
import logging
from resources.utils import setup_logging
from resources.dataloaders.wildfireloader import WildFireDataLoader

I'm also going to setup the `logging` library here with a simple utility function - it's a cleaner and handier way to provide outputs from code - providing more verbose output than a `print` statement.

In [2]:
_ = setup_logging(debug=True)

[2023-04-05T17:58:23Z] DEBUG: Logger object configured. Debug mode enabled.

Now I'm going to setup an instance of the `WildFireDataLoader` class. This class has been built with some methods to help clean and preprocess the dataset from Kaggle. I hope you find it useful!

In [3]:
wfdl = WildFireDataLoader(
    datadir="/Users/alex/gitrepos/IRP-help/data/data.sqlite",
    start_date="20180112",
    end_date="20180412",
    truth_fields=[""],
    input_fields=None,
)

### A Simple Guide to Queries
If you check the file extension above, you'll see that the dataset is a type of SQL database. If you've not encountered SQL before it can be a little daunting. I've written some example queries and uses below to help - using the `WildFireDataLoader`'s `load_dataset_from_query` method.

In [4]:
example_query = "SELECT FIRE_YEAR, \
                    count(1) as nr_of_fires, \
                    sum(FIRE_SIZE) as total_fire_size, \
                    avg(FIRE_SIZE) AS average_fire_size  \
                    from Fires GROUP BY FIRE_YEAR;"
wfdl.load_dataframe_from_query(query=example_query)

[2023-04-05T17:58:23Z] DEBUG: Opening database connection from: /Users/alex/gitrepos/IRP-help/data/data.sqlite.
[2023-04-05T17:58:23Z] DEBUG: Reading query in as a pandas DataFrame...
[2023-04-05T17:58:25Z] DEBUG: Closing database connection from: /Users/alex/gitrepos/IRP-help/data/data.sqlite.

In [5]:
wfdl.df.head()

   FIRE_YEAR  nr_of_fires  total_fire_size  average_fire_size
0       1992        67961     2.199923e+06          32.370367
1       1993        61975     2.191587e+06          35.362437
2       1994        75932     4.115582e+06          54.200895
3       1995        71440     2.049553e+06          28.689154
4       1996        75561     6.004833e+06          79.470008

So what was that all about? The query set as the variable `example_query` is used to request data from the SQL database. Here the database engine reads and processes the query, then searches the database for the data that matches the criteria specified in the query.

The query here can be broken down as:
- `SELECT FIRE_YEAR`: Specifies a columns to be returned in the resultant dataframe. In this case, we want to retrieve the year in which each fire occurred.

- `count(1) as nr_of_fires`: Uses the `count()` function to calculate the number of fires that occurred in each year. The result of this calculation is assigned to an alias called `nr_of_fires`.

- `sum(FIRE_SIZE) as total_fire_size`: Uses the `sum()` function to calculate the total size of all fires that occurred in each year. The result of this calculation is assigned to an alias called `total_fire_size`.

- `avg(FIRE_SIZE) AS average_fire_size`: Uses the `avg()` function to calculate the average size of all fires that occurred in each year. The result of this calculation is assigned to an alias called `average_fire_size`.

- `from Fires`: Specifies the table from which to retrieve the data. In this case, the table is called `Fires`.

- `GROUP BY FIRE_YEAR`: This part of the query groups the results by the year in which the fires occurred. This means that the statistical information retrieved by the query will be broken down by year, so we can see how many fires occurred, how large they were, and what the average size was for each year!

### Dataset metadata
If you'd like to inspect the table a bit to build some contextual knowledge around the queriries, I've written some simple utility functions which are showcased below.

In [6]:
table_names = wfdl.extract_table_names()
logging.info("Table names that are present in the dataset are: %s", table_names)

[2023-04-05T17:58:25Z] DEBUG: Opening database connection from: /Users/alex/gitrepos/IRP-help/data/data.sqlite.
[2023-04-05T17:58:25Z] DEBUG: Closing database connection from: /Users/alex/gitrepos/IRP-help/data/data.sqlite.
[2023-04-05T17:58:25Z] INFO: Table names that are present in the dataset are: ['Fires']

So, we know there's only one table present in this dataset to extract data from. We can also discover this by checking the [Kaggle metadata](https://www.kaggle.com/datasets/behroozsohrabi/us-wildfire-records-6th-edition?resource=download) online. Same for the column names below:

In [7]:
for table in table_names:
    cols = wfdl.extract_colun_names_from_table(table_name=table)
    logging.info("Columns under table %s are %s", table, cols)

[2023-04-05T17:58:26Z] DEBUG: Opening database connection from: /Users/alex/gitrepos/IRP-help/data/data.sqlite.
[2023-04-05T17:58:26Z] DEBUG: Closing database connection from: /Users/alex/gitrepos/IRP-help/data/data.sqlite.
[2023-04-05T17:58:26Z] INFO: Columns under table Fires are ['OBJECTID', 'Shape', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM', 'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID', 'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT', 'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID', 'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME', 'ICS_209_PLUS_INCIDENT_JOIN_ID', 'ICS_209_PLUS_COMPLEX_JOIN_ID', 'MTBS_ID', 'MTBS_FIRE_NAME', 'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY', 'DISCOVERY_TIME', 'NWCG_CAUSE_CLASSIFICATION', 'NWCG_GENERAL_CAUSE', 'NWCG_CAUSE_AGE_CATEGORY', 'CONT_DATE', 'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE', 'LONGITUDE', 'OWNER_DESCR', 'STATE', 'COUNTY', 'FIPS_CODE', 'FIPS_NAME']

SQL is all well and good, but we probably want to convert it into a more Python friendly object for interacting with other functionalities (such as creating a dataset for a Python based ML-model). Let's do that now by converting into a `pandas` dataframe.

pro tip, watch for commas at the end of your queries, the exception handling isn't super verbose, so you'll just recieve a syntax error with little explanation.

In [61]:
example_query = "SELECT \
    FPA_ID AS fire_id, \
    (DISCOVERY_DATE || ' ' || DISCOVERY_TIME) AS timestamp, \
    LATITUDE AS lat,\
    LONGITUDE AS lon,\
    FIRE_SIZE AS fire_size_acres, \
    FIRE_CLASS AS fire_size_class, \
    FIRE_CODE AS fire_code, \
    NWCG_CAUSE_CLASSIFICATION As cause_class \
    FROM Fires"

In [62]:
wfdl.load_dataframe_from_query(query=example_query)

[2023-04-05T18:18:26Z] DEBUG: Opening database connection from: /Users/alex/gitrepos/IRP-help/data/data.sqlite.
[2023-04-05T18:18:26Z] DEBUG: Reading query in as a pandas DataFrame...
[2023-04-05T18:18:34Z] DEBUG: Closing database connection from: /Users/alex/gitrepos/IRP-help/data/data.sqlite.

In [63]:
wfdl.df

,fire_id,timestamp,lat,lon,fire_code,cause_class
0,FS-1418826,2/2/2005 1300,40.036944,-121.005833,BJ8K,Human
1,FS-1418827,5/12/2004 0845,38.933056,-120.404444,AAC0,Natural
2,FS-1418835,5/31/2004 1921,38.984167,-120.735556,A32W,Human
3,FS-1418845,6/28/2004 1600,38.559167,-119.913333,,Natural
4,FS-1418847,6/28/2004 1600,38.559167,-119.933056,,Natural
...,...,...,...,...,...,...
2303561,ICS209_2020_11710294,6/5/2020 1741,39.037890,-108.959500,,Natural
2303562,ICS209_2020_11781527,7/11/2020 1958,37.148611,-119.503056,,Missing data/not specified/undetermined
2303563,ICS209_2020_11815219,8/27/2020 1911,46.151370,-114.442800,,Natural
2303564,ICS209_2020_11831809,8/17/2020 0755,46.670340,-120.114500,,Natural
2303565,ICS209_2020_11977822,11/20/2020 1110,38.578900,-79.148450,,Human